mat-grid-tile {
    padding: 0;
}

mat-checkbox {
    font-size: 20px;
}

#pet{
    width: 75%;
    display: block;
    margin: auto;
}

#pieces {
    display: block;
    font-size: 100%;
    text-align: center;
    color: green;
}

.content {
    width: 100%;
    margin: 0;
}

.star-image>img{
    position: absolute;
    display: block;
    height: 15%;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.wrapper {
    border: 1px solid rgba(0, 0, 0, .03);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .24),
    0 0 2px rgba(0, 0, 0, .12);
}