<div class="wrapper">
  <mat-checkbox [(ngModel)]="editMode">Edit mode</mat-checkbox>
  <mat-grid-list cols="10">
    <mat-grid-tile *ngFor="let pet of pets" (click)="openDialog(pet)">    
      <div class="content">
        <div>
          <img id="pet" src="{{pet.imagePath}}"/>
        </div>       
        <div class="star-image" [ngSwitch]="pet.starCount">
          <img *ngSwitchCase="1" src="{{stars[0]}}"/>
          <img *ngSwitchCase="2" src="{{stars[1]}}"/>
          <img *ngSwitchCase="3" src="{{stars[2]}}"/>
          <img *ngSwitchCase="4" src="{{stars[3]}}"/>
          <img *ngSwitchCase="5" src="{{stars[4]}}"/>
          <span *ngSwitchDefault></span>
        </div>
        <span id="pieces">{{pet.pieceCount}}</span>  
      </div>     
    </mat-grid-tile>
  </mat-grid-list>
</div>

